{% load static %}

<div class="col-md-6 col-lg-4 mb-4">
  <div class="card course-card h-100 shadow-sm bg-light">
    {% if course.img %}
    <img
      src="{{ course.img.url }}"
      class="card-img-top course-img"
      alt="{{ course.title }}"
    />
    {% endif %}
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title fw-semibold text-dark">{{ course.title }}</h5>
        <p class="card-text text-muted small">{{ course.description|truncatechars:100|safe }}
        </p>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <p class="card-text mb-0">
          <i class="bi bi-person-circle me-1 text-secondary"></i>
          <a href ="/#"> <small class="text-muted">{{ course.teacher.get_full_name }}</small> </a>
        </p>
        <small class="text-muted">
          <i class="bi bi-people-fill me-1"></i> {{course.enrolled_students.count }} students </small>
        
      </div>

      <a
        href="{% url 'course_details' course.tag %}"
        class="btn btn-outline-primary w-100 btn-glow mt-3"
      >
        <i class="bi bi-arrow-right-circle me-1"></i> Details
      </a>
    </div>
  </div>
</div>
