{% extends "_layout.html" %} {% load static %} 
{% block title %} CourseApp Home{% endblock %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center fs-2">
        <strong>Login</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Kayıt Ol</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
