{% extends "_layout.html" %}
{% load static %}

{% block title %} CourseApp Home {% endblock %}
{% block head %}   <link rel="stylesheet" href="{% static 'css/_card.css' %}"> {% endblock head %} 

{% block content %}

<!-- Slider -->
<div id="carouselExample" class="carousel slide mb-5" data-bs-ride="carousel" style="width: 75%; margin: 0 auto;">
  <div class="carousel-inner rounded-top-5" style="aspect-ratio: 16 / 9; overflow: hidden;">
    {% for course in slider_courses %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <a href = {% url "course_details" course.slug %} > <img src="{{ course.img.url }}" class="d-block w-100 h-100 rounded-top-5" style="object-fit: cover;" alt="{{ course.title }}"> </a>
        <div class="carousel-caption d-none d-md-block rounded-bottom p-2">
          <h5 class="text-white">{{ course.title }}</h5>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Popular Categories -->
<div class="container mb-5">
  <h3 class="mb-4">Popular Categories</h3>
  <div class="row text-center">
    {% for category in categories_data %}
    <div class="col-6 col-md-3 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body position-relative">
          <i class="bi bi-book fs-1 mb-2 text-primary"></i>
          <h6 class="card-title">{{ category.name }}</h6>
          <a href="{% url 'course_categorie' category.slug %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if recommend_courses %}

<div class="container mb-5">
  <h4 class="mb-3">Recommended Courses for You</h4>

  <div class="row flex-nowrap overflow-auto pb-3" style="gap: 1rem;">
    {% for course in recommend_courses %}
        {% include 'partials/_courseCard.html' %}
    {% endfor %}
  </div>

  <hr>
</div>

{% endif %}



<div class="container mb-5">
  {% for group in categories_with_courses %}
    <h4 class="mb-3">{{ group.category.name }}</h4>
    <div class="row flex-nowrap overflow-auto">
      {% for course in group.courses %}
        {% if course.is_active %}
        {% include 'partials/_courseCard.html' %}
        {% endif %}
          
     
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
</div>






{% endblock %}
